.container-contato {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background:#F6F2FE;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.beneficios{
  margin: 30px 30px 0px 70px;
  gap: 40px;
  position: relative;
  width: 600px;
}
.beneficios h2{
  font-family: Montserrat;
  font-weight: 700;
  font-size:1.3rem;
  color: #5503C8;
  text-align: justify;
}
.beneficios-texto{
  font-family: Montserrat;
   font-weight:500;
  margin: 30px 0px 0px 80px; 
  text-align: justify;
}
.beneficios-texto::before{
  content: "";
  background-image: url("/img/seta.svg");
  background-repeat:no-repeat;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0px 0px 0px -80px;
  animation:anima-seta 700ms ease infinite;
}
@keyframes anima-seta {
  to {
      opacity:1;
      transform: translatex(18px);
  }
}
.orcamento {
  margin: 30px 30px 30px 30px;
  gap: 10px;
  background:#B59BFF;
  border: 2px solid #53269C;
  border-radius: 5px;
  transition: border 0.4s;
  width: 480px;
  height: 380px;
  box-shadow: 10px 10px 8px #E7E5E5;
}
.input{
  width: 350px;
  height: 50px;
  font-size:1rem;
  font-family: Montserrat;
  color: #606060;
  margin: 10px 0px 0px 60px;
  padding: 10px;
  background: #FDF5EE;
  border-radius: 5px;
  border: 1px solid #606060;
  box-shadow: 1px 1px 1px 0px #606060,
    -1px -1px 1px 0px #606060;
}
.nome{
  margin: 10px 0px 0px -5px; 
}
form{
  margin: 20px 0px 0px 0px; 
}
.orcamento h3{
   font-family: Montserrat;
   font-weight: 700;
  font-size:1.3rem; 
  color: #5503C8;
  text-align: justify;
  margin: 10px 20px 0px 20px;
}
.botao{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.botao-duvidas {
  width: 160px;
  height: 40px;
  background: #44DB4F;
  color: #121212;;
  border: 1px solid #EDE4FE;
  box-shadow: 5px 5px 8px #53269C;
  border-radius: 5px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
   font-family: Montserrat;
   font-weight: 700;
}
.botao-duvidas:hover{
transition: .1s ease-out;
background: #9CFFA3;
color:#A3A3A3;
transform: scale(1.1);
transition: all 0.5s;
}

@media (max-width: 800px) {
  .container-contato {
    display: grid;
    grid-template-columns: 1fr;
    height: 1000px;
  }  
  .beneficios{
    margin: 30px 30px 0px 10px;
    gap: 40px;
   width: 400px;
  }
  .beneficios h2{
    font-size:1.3rem;
    width: 600px;
    margin: 30px 0px 0px 80px;
  } 
  .beneficios-texto{
    margin: 30px 0px 0px 75px; 
    width: 600px;
    font-size:1.2rem;
  }
  .beneficios-texto::before{
    margin: 6px 0px 0px -60px;
  }
  .orcamento {
    margin: -20px 0px 0px 110px;
    gap: 10px;
    width: 550px;
    height: 480px;
  }
  .orcamento h3{
    font-size:1.6rem; 
    line-height: 1.3;
    margin: 10px 20px 20px 20px;
  }
  .input{
    width: 450px;
    height: 60px;
    font-size:1.2rem;
    margin: 10px 0px 0px 50px;
  }
  .botao-duvidas {
    width: 180px;
    height: 60px;
    font-size: 1rem;
    line-height: 1.2;
    margin: 30px 30px 0px 0px;
  }
}
@media (max-width: 460px) {
  .container-contato {
    display: grid;
    grid-template-columns: 1fr;
    height: 960px;
  } 
  .beneficios{
    margin: 30px 30px 0px 10px;
    gap: 40px;
    position: relative;
  }
  .beneficios-texto::before{
    content: "";
    background-image: url("/img/seta.png");
    background-repeat:no-repeat;
    position: absolute;
    width: 35px;
    height: 40px;
    margin: 5px 0px 0px -60px;
    animation:anima-seta 1000ms ease infinite;
  }
  .beneficios-texto{
    margin: 30px 0px 0px 55px; 
    font-size:1rem;
    width: 350px;
  }
  .beneficios h2{
    font-size:1rem;
    margin: 10px 0px 0px 20px;
    width: 400px;
  } 
  .orcamento {
    margin: 30px 0px 0px 30px;
    gap: 10px;
    width: 400px;
    height: 450px;
  }
  .orcamento h3{
    font-size:1.2rem; 
    color: #330D72;
    text-align: justify;
    margin: 30px 20px 25px 20px;
  }
  .input{
    width: 300px;
    height: 50px;
    font-size:0.8rem;
    font-family: Montserrat;
    margin: 10px 0px 0px 50px;
    background: #FDF5EE;
    border-radius: 5px;
    border: 1px solid #B09B89;
    box-shadow: 1px 1px 1px 0px #B09B89,
      -1px -1px 1px 0px #B09B89 ;
  }
  .botao-duvidas {
    width: 180px;
    height: 50px;
    font-size: 1rem;
    line-height: 1.2;
    margin: 30px 20px 25px 20px;
  }
}
