.formacao {
  background: #D0C1FA;
}
.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 100px;
  position: relative;
}
.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("./img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}
@font-face {
  font-family: 'Reagile';
  src: url('/font/Reailge.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.formacao .subtitulo {
  font-family: 'Reagile', 'Times New Roman', Times, serif;
  color: #856953;
  font-size: 5.5rem;
  margin: 200px 100px 0px 0px;
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  color: #f4e8e0;
  text-align: justify;
}
.formacao-texto strong {
  color: #EFEBE9;
}
.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade {
  flex: 1;
  background: #7b5cd6;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #f4e8e0;
  margin-bottom: 10px;
}
.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  color: #f4e8e0;
}
.faculdade-ano {
  margin-top: -15px;
  color: #e8d2c2;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#9cffa3, #44db4f);
  left: -24px;
}
.faculdade-instituicao {
  font-size: 1.125rem;
  color: #e8d2c2;
}
.instiuicoes-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 3fr 1fr;
  white-space: nowrap;
}
.cursos h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #f4e8e0;
  text-transform: uppercase;
  margin: 30px 0px 30px 30px;
  position: relative;
}
.cursos h3::before {
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: -30px;
  background: url("/img/laptop.svg") no-repeat center center;
}
.instiuicoes {
  color: #efebe9;
  text-align: start;
  font-size: 1.3rem;
}
.formacao-extra li {
  font-size: 1.3rem;
  line-height: 1.1;
   margin:-10px 0px 0px -3px;
  color: #583619;
}
.idiomas h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #f4e8e0;
  text-transform: uppercase;
  margin: 50px 0px 30px 30px;
  position: relative;
}

.idiomas h3::before {
  display: block;
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: -30px;
  background: url("/img/idioma.svg") no-repeat center center;
}
@media (max-width: 860px) {
  .formacao-container {
    max-width: 1100px;
    height: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .formacao .subtitulo {
    white-space: nowrap;
    font-size: 3rem;
    margin: -30px 0px 0px 280px;
    } 
    .formacao-texto {
      font-size: 1.6rem;
      line-height: 1.33;
      margin: 20px 0px 40px 0px;
    }
    .faculdade-lista {
      margin: 20px 10px 40px 0px;
    }
    .cursos h3 {
      font-size: 1.4rem;
      line-height: 1.4;
      margin: 30px 0px 30px 30px;
    }
    .instiuicoes-container {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr;
      white-space: nowrap;
    }
    
    .idiomas h3 {
      font-size: 1.4rem;
      line-height: 1.4;
      color: #f4e8e0;
      margin: 50px 0px 30px 30px;
    }
    .instiuicoes {
      color: #efebe9;
      text-align: start;
      font-size: 1.3rem;
      margin:-10px 0px 0px -3px;
    }
    .formacao-extra li {
      font-size: 1.3rem;
      line-height: 1.1;
       margin:-10px 0px 0px -3px;
      color: #583619;
    }   
}
@media (max-width:460px){
  .formacao .subtitulo {
  white-space: nowrap;
  margin: 15px 0px 0px 110px;
  } 
  .formacao-texto {
    font-size: 1.2rem;
    line-height: 1.33;
    width: 350px;
    margin: -15px 0px 0px 10px;
  }
  .faculdade-lista {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 25px;
  margin-left: -15px;
  width: 380px;
}
.faculdade-extra h3::before {
  position: initial;
  margin-bottom: 10px;
}
.cursos h3 {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: -10px 0px 30px 30px;
  position: relative;
}
.idiomas h3{
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 50px 0px 30px 30px;
}
.formacao-extra li {
  font-size: 0.8rem;
  line-height: 1.2;
   margin:-10px 0px 0px -30px;
}
.instiuicoes {
  color: #efebe9;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.2;
  margin:-10px 0px 0px -0px;
}
.cursos h3::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
}
.idiomas h3::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}
}
