.introducao {
  max-width: 1200px;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-slogan{
  color:#583619;
}
.container-local{
color: #856953;
}
.introducao-h1{
  font-size: 3.6rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
  color:#53269C;
} 

.introducao h1::before{
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background-image: url("/img/detalhe.svg");
  position: absolute;
  top: -25px;
  left: -40px;
  z-index: -1;
  }
  .introducao p{
    font-size: 1.5rem;
    color: #6D5038;
   }
   @media(max-width:860px){
    .introducao h1{
      font-size: 3rem;
    }
    .introducao{
      grid-template-columns: 1fr 1fr;
      gap:40px;
    }
    .container-slogan{
      width: 350px;
       font-size: 2rem;
       line-height: 1.2;  
       margin: 15px 0px 0px -20px;
     }
     .container-local{
       font-size: 1.2rem;
       line-height: 1.2;  
       margin: -10px 0px 0px -20px; 
     }
   }
   @media(max-width:460px){
    .introducao{
      max-width: 600px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    }
    .introducao img{
      padding: 10px 10px;
      max-width: 150px;
    }
    .introducao h1{
      font-size: 1.4rem;
      line-height: 1; 
      margin: 15px 0px 0px -10px;
    }
    .container-slogan{
     width: 200px;
      font-size: 2rem;
      line-height: 1.2;  
      margin: 15px 0px 0px -20px;
    }
    .container-local{
      width: 200px;
      font-size: 0.8rem;
      line-height: 1.2;  
      margin: -10px 0px 0px -20px; 
    }
  }