.footer {
  background:#6342C5;
}
.footer-container {
  height: 250px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #D3C7BC;
  margin: 80px 0px 0px 100px;
  width:500px;
  font-weight: 700;
}
.footer-contato {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.33;
  margin: 80px 0px 0px -190px;
  width:500px;
}
.footer-contato a {
  text-decoration: none;
  color: #EFEBE9;
}
.redes {
  width: 100px;
  height: 80px;
  display: flex;
  margin: -40px 0px 0px 900px;
  gap: 8px;
}
.footer-copy {
  display: block;
  margin: 0 auto;
  width: 100%;
  background: #9B836E;
  color: #EFEBE9;
  font-size: 0.9rem;
  line-height: 2.5;
  display: flex;
  justify-content: center;  
}
@media (max-width: 860px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 600px;
  }
 .footer-texto {
    font-size: 1.4rem;
    line-height: 1.2;
    color: #D3C7BC;
    margin: 60px 0px 0px 50px;
    width:390px;
   justify-content: center;  
} 

  .footer-contato {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.33;
    margin: 60px 0px 0px -150px;
  }
  .redes {
    width: 100px;
    height: 80px;
    margin: -55px 0px 0px 400px;
    gap: 8px;
  }
  .footer-copy {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
@media(max-width:460px){
  .footer-container {
    grid-template-columns: 1fr;
    gap: 10px;
    width: 300px;
  }
 .footer-texto {
    font-size: 1.2rem;
    line-height: 1.2;
    color: #D3C7BC;
    margin: 25px 0px 0px 20px;
    width:380px;
  
  }
  .footer-contato {
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.33;
    margin: 0px 0px 0px 10px;
  }
  .redes {
    width: 100px;
    height: 80px;
    display: flex;
    margin: -40px 0px 0px 0px;
    gap: 8px;
  }
  .footer-copy {
    font-size: 0.7rem;
    line-height: 1.5;
  }
}
